* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("Images/fundo.png");
    /* Outras propriedades de estilo (opcional) */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-size: cover; /* Ajusta a imagem para cobrir toda a div */
    /* ... outras propriedades ... */
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body > header {
    padding: 16px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container h1, p, section {
    color: #ecf0f1;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.container p {
    max-width: 60%;
}

#introduction {

    margin-top: 15%;
}

#introduction h2 {
    font-size: 110px;
    max-width: 60%;
    font-weight: 700;
}

.social-media img {
    height: 28px;
}

.social-media li {
    display: inline;
    margin-right: 16px;
}

.social-media li a {
    text-decoration: none;
}

#introduction .container {
    display: block;
}

#introduction p {
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
}

form input,
form button,
form textarea {
    margin-bottom: 1%;
    font-size: 20px;
    display: block;
    max-width: 60%;

}

form button {
    height: 55px;
    width: 150px;
}

.termos {
    margin: 1%;
}
footer {

    padding: 16px 0;
    
    width:100%;
    bottom:0px;
}